.SecaoIntro {
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.SecaoIntro .introducao {
	margin: 10px;
	min-width: 40%;
	width: 40%;
}
.SecaoIntro .flex-row {
	justify-content: space-between;
}

.SecaoIntro p,
.SecaoIntro h1 {
	margin: 10px;
}
.imgIntro {
	height: 300px;
}
.SecaoIntro img {
	height: 100%;
}
@media (max-width: 480px) {
	.imgIntro {
		display: none;
	}
	.SecaoIntro .introducao {
		margin: 10px;
		min-width: 40%;
		width: 100%;
	}
}
