.SecaoServicos {
	background-image: url("https://img.freepik.com/fotos-gratis/close-up-de-moveis-modernos-de-madeira-escura-com-puxadores-pretos_169016-13481.jpg?t=st=1658843013~exp=1658843613~hmac=9d0b4f89d966ed843bae0ca3d4469f9a2a11287a815d98c6836f4846e44af100&w=996");
	background-size: cover;
}
.SecaoServicos .filtro {
	width: 100%;
	backdrop-filter: blur(6px);
}
.SecaoServicos h1 {
	color: #fff;
}
.cardDeck {
	flex-wrap: wrap;
	justify-content: center;
}
