.imessage {
	padding: 7px 14px 6px;
	background-color: rgb(255, 255, 255);
	border-radius: 0px 8px 8px;
	position: relative;
	transition: all 0.3s ease 0s;
	transform-origin: center top;
	box-shadow: rgb(0 0 0 / 13%) 0px 1px 0.5px;
	margin-top: 4px;
	max-width: 90%;
}
.span {
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
	position: absolute;
	left: -10px;
	top: 0;
}
