.Rodape {
	min-width: 375px;
	max-height: 1000px;
	min-height: 350px;
	background: #191919;
	margin: 0;
}

.Rodape .limitar-div {
	width: 100%;
}

.Rodape p,
.Rodape h2 {
	color: #fff;
}

.rodape-div {
	width: 100%;
	height: 100%;
	justify-content: space-between;
	padding-bottom: 25px;
}

.rodape-logo {
	width: 250px;
	margin-right: 40px;
}

.rodape-logo img {
	width: 100%;
}

.rodape-midia div {
	width: 100%;
	height: 25px;
	padding: 20px 0;
	justify-content: flex-start;
	color: #fff;
}

.rodape-midia div img {
	width: 25px;
	margin-right: 10px;
}

.rodape-div nav {
	width: 120px;
}

p.copyright {
	margin: 0;
	text-align: center;
	padding-top: 15px;
	width: 100%;
	color: rgb(116, 116, 116);
	border-top: 0.5px solid rgba(255, 255, 255, 0.411);
}

p.copyright a {
	color: rgb(163, 163, 163);
}


@media (max-width: 768px) {
	.Rodape {
		height: 550px;
	}

	.rodape-logo {
		width: 200px;
	}

	.Rodape h2 {
		font-size: 30px;
	}

	.rodape-midia {
		margin-left: 30px;
	}

	.rodape-div {
		padding: 0 20px 20px 20px;
	}

	@media (max-width: 480px) {
		.Rodape {
			height: 550px;
		}

		.rodape-logo {
			display: none;
		}


	}
}