.capa {
	height: 50vh;
	/*
	background-image: linear-gradient(
		43deg,
		#ffcc70 1%,
		#f6e8c3 46%,
		#cd7822 100%
		);
	*/
	background-image: url("../../../public/assets/colorful-and-abstract-psychedelic-background-concept-of-psychedelic-design.jpg");
	background-position: center;
	background-size: cover;
	justify-content: center;
	align-items: center;
}
.capa img {
	max-width: 50vh;
	width: 100%;
}
.Topo nav {
	align-items: center;
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
	padding: 0 10px;
}
.Topo a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.Topo .menu {
	background-color: var(--color1);
	height: 3rem;
	justify-content: center;
	align-items: center;
}
.link-nav {
	padding: 7px;
	transition: 0.2s ease;
	border-radius: 20px;
	font-weight: 700;
}
.link-nav:hover {
	background-color: var(--color2);
}
.link-nav:hover * {
	color: var(--color1);
}
