.capa {
	height: 50vh;
	background: url("../../../public/assets/xadrez.jpg");
	justify-content: center;
	align-items: center;
}
.capa img {
	height: 85%;
}
.Topo nav {
	align-items: center;
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
	padding: 0 10px;
}
.Topo a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
.Topo .menu {
	background-color: var(--color1);
	height: 3rem;
	justify-content: center;
	align-items: center;
}
