.SecaoClientes img {
	width: 150px;
	border-radius: 100%;
	margin: 10px;
}
.SecaoClientes {
	background: url("../../../public/assets/chalkboard.jpg");
}
.SecaoClientes h1 {
	color: #fff;
}
.clientes {
	padding-top: 30px;
}
@media (max-width: 480px) {
	.clientes {
		flex-direction: column;
	}
	.SecaoClientes img {
		width: 300px;
	}
}
