.contato-div {
	max-width: 550px;
	width: 100%;
	text-align: center;
}

.SecaoContato {
	background-image: url("../../../../public/assets/cozinha.svg");
	background-size: cover;
	background-position: 10px;
}

.SecaoContato .filtro {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
}