._3trGj {
	margin-left: 5px !important;
}
._3jDIS {
	background: #095e54 !important;
	padding: 0px !important;
}
._2qp0Z:hover svg {
	fill: #fff;
}
._2qp0Z:hover {
	background-color: #5ad167;
}
._2qp0Z {
	transition: 0.2s ease;
}
