.celulares {
	width: 100%;
	justify-content: space-around;

}

@media (max-width: 768px) {
	.celulares {
		flex-wrap: wrap;
	}

	@media (max-width: 480px) {
		.celulares {
			flex-direction: column;
		}
	}
}